:css
  #jsMath_button { display: none !important; }

.header
  %span.category Temat:
  %span.description Jak obliczyć pojemność kondensatora złożonego z dwóch koncentrycznych rur długości l? Promień wewnętrznej rury: a, zewnętrznej: b.

.solution#math-parent
  %span.category Rozwiązanie:

  .math-description Z prawa Gaussa:
  .math{ :style => 'text-align: left;' } r \in [a,b) \quad\Rightarrow\quad 2\pi rlE = {Q \over\displaystyle \epsilon_o} \quad\Leftrightarrow\quad E = {Q \over\displaystyle{ 2\pi rl \epsilon_o }}

  .math-description Z definicji potencjału i napięcia:
  .math{ :style => 'text-align: left;' } W = q(V_b - V_a) \quad\wedge\quad U = V_b - V_a \quad\Rightarrow\quad W = qU

  .math-description Z definicji pracy w polu elektrycznym:
  .math{ :style => 'text-align: left;' } W = \int^b_a{Eq}dr = q\int^b_a{E}dr = q\int^b_a{Q \over\displaystyle{ 2\pi rl \epsilon_o }}dr = {qQ \over\displaystyle{ 2\pi l \epsilon_o }} \int^b_a{dr \over\displaystyle r} = {qQ \over\displaystyle{ 2\pi l \epsilon_o }} ln({b \over\displaystyle a})

  .math-description &nbsp;
  .math{ :style => 'text-align: left;' } W = {qQ \over\displaystyle{ 2\pi l \epsilon_o }} ln({b \over\displaystyle a}) \quad\wedge\quad W = qU \quad\Rightarrow\quad U = {Q \over\displaystyle{ 2\pi l \epsilon_o }} ln({b \over\displaystyle a})

  .math-description Z definicji pojemności kondensatora:
  .math{ :style => 'text-align: left;' } C = {Q \over\displaystyle U} \quad\Rightarrow\quad C = {2 \pi l \epsilon_o \over\displaystyle ln({b \over\displaystyle a})}

.authors
  %span.category Autor:
  %span.description Artur Hebda
