---
dijkstra:
  search:
    dir: <%= Rails.root.join('Dijkstra') %>
    file: Dijkstra
  result:
    path: <%= Rails.root.join('tmp', 'path.xml') %>
osm:
  source:
    path: <%= Rails.root.join('public', 'map.osm') %>
  image:
    path:
      absolute: <%= Rails.root.join('public', 'images', 'map.svg') %>
      relative: <%= File.join('/', 'images', 'map.svg') %>
    dimensions:
      width: 1049
      height: 858
  bounds:
    min:
      latitude: 50.05655
      longitude: 19.90017
    max:
      latitude: 50.07319
      longitude: 19.93184
wkhtmltopdf:
  path: PATH_TO_WKHTMLTOPDF_BINARY